# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
quiz.sublime-project
/doc/
/old/
/bower_components/
/node_modules/
*.sublime-project