@quiz-feedback-page-padding: 64px;

.quiz-feedback-border-mixin(@color) {
	padding: 30px;
	border-radius:15px;
	box-shadow:0 0 10px @color;
	background-color:@color;
	border:2px solid white;
}

#quiz-feedback {
	
	> .text {
		.quiz-feedback-border-mixin(@color-primary);
		float:right;
		width: 900px;
		margin:@quiz-feedback-page-padding;
		color:white;
		margin-right:140px;
		margin-top:60px;
		h3 {
			font-size:28px;
		}
	}

	.msg.any-button {
		.quiz-feedback-border-mixin(@color-ongehoord-pink);
		font-size: 30px;
		position:absolute;
		top: 40px;
		color:#fff;
		left:200px;
		transform:rotate(-2deg);
	}
}

#quiz-feedback-video-container {
	.quiz-feedback-border-mixin(@color-ongehoord-blue);	

	position:absolute;
	bottom:20px;
	left:20px;
	margin:@quiz-feedback-page-padding;
}