/**
 * All generic site stuff
 * Is imported by main.less
 */
* {
	font-family: 'Roboto', sans-serif;
}

body {
	background: @color-background;
}

#application-loading {
	text-align: center;
	background:white;
	color:black;
	padding:20px;
	border:1px solid black;
}

.container {
	width:100%;
	max-width:100%;
}

#index-text {

	h1 {
		color: rgba(255,255,255,0);
		font-size:200px;
		letter-spacing: .1em;
		 -webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: white;
		font-weight:900px;
	}

	h2 {
		font-size:50px;
		font-weight:400;
		text-align: right;
	}
	color: white;
}