/**
 * Quiz
 */
#application-quiz {}

#application-quiz-content {
	text-align:left;
}

#quiz-answer {}

.mixin-button-color(@color) {
	background: @color;
	border:1px solid mix(#000, @color, 50%);
	box-shadow:0 0 4px fade(@color, 50%);
}

.button-color {
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:50%;

	&.green		{ .mixin-button-color(@color-button-green); }
	&.purple	{ .mixin-button-color(@color-button-purple); }
	&.red		{ .mixin-button-color(@color-button-red); }
	&.yellow	{ .mixin-button-color(@color-button-yellow); }
}


.mixin-ct-slice-pie(@color) {
	.ct-slice-pie {
		fill: @color;
	}
}

#application-quiz-chart {
	width:200px;
	height:200px;
	position:absolute;
	top:15px;
	right:15px;
	z-index:10;

	//unanswered
	.ct-series-a { .mixin-ct-slice-pie(@color-quiz-chart-unanswered); }

	//right
	.ct-series-b { .mixin-ct-slice-pie(@color-quiz-chart-right); }
	
	//wrong
	.ct-series-c { .mixin-ct-slice-pie(@color-quiz-chart-wrong); }
}