/**
 * Quiz
 */

@import 'quiz-chart';

.mixin-button-color(@color) {
	background: @color;
	border:1px solid mix(#000, @color, 50%);
	box-shadow:0 0 4px fade(@color, 50%);
}

.button-color {
	display:inline-block;
	width:@quiz-button-color-size;
	height:@quiz-button-color-size;
	border-radius:50%;

	&.blue		{ .mixin-button-color(@color-button-blue); }
	&.green		{ .mixin-button-color(@color-button-green); }
	&.purple	{ .mixin-button-color(@color-button-purple); }
	&.red		{ .mixin-button-color(@color-button-red); }
	&.yellow	{ .mixin-button-color(@color-button-yellow); }
}


.mixin-ct-slice-pie(@color) {
	.ct-slice-pie {
		fill: @color;
	}
}

#application-quiz-content,
#application-quiz-content > .columns {
	height:100%;
}

#quiz-question-image {
	height:100%;
	background-size: cover;
}

#quiz-question-container {
	> h1 {
		background: @color-primary;
		color:white;
		font-weight:900;
		padding:5px 20px;
		text-transform: uppercase;
	}

	#quiz-question {
		font-weight:700;
		padding:40px 20px;
		border-bottom:4px solid @color-primary;
	}
}

#quiz-answers {
	margin-top:120px;
	li {
		padding:20px 20px 20px 100px;
		position:relative;
	}

	.button-color {
		position: absolute;
		top:30px;
		left:20px;
	}

	button {
		background: transparent;
		border: 0;
		font-family: 'Roboto';
		font-size:32px;
		text-align: left;
	}

	li:not(:last-child) {
		border-bottom:2px solid black;
	}
}